In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("invoice_data_adjusted.csv")
df.head()

,invoice_risk_decision,customer,invoice_date_year,invoice_date_quarter,invoice_date_month,invoice_date_week,invoice_date_day_year,invoice_date_day_month,invoice_date_day_week,payment_due_date_year,...,payment_due_date_day_month,payment_due_date_day_week,payment_date_year,payment_date_quarter,payment_date_month,payment_date_week,payment_date_day_year,payment_date_day_month,payment_date_day_week,grand_total
0,0,24_customer,2017,4,11,46,318,14,2,2017.0,...,16.0,4.0,2017.0,4.0,11.0,46.0,320.0,16.0,4.0,64.25
1,0,11_customer,2017,4,11,46,318,14,2,2017.0,...,17.0,5.0,2017.0,4.0,11.0,46.0,321.0,17.0,5.0,50.34
2,0,29_customer,2017,4,12,49,338,4,1,2017.0,...,8.0,5.0,2017.0,4.0,12.0,49.0,342.0,8.0,5.0,40.03
3,0,28_customer,2017,4,12,49,338,4,1,2017.0,...,8.0,5.0,2017.0,4.0,12.0,49.0,340.0,6.0,3.0,94.86
4,0,13_customer,2017,4,12,49,340,6,3,2017.0,...,8.0,5.0,2017.0,4.0,12.0,50.0,348.0,14.0,4.0,65.15

In [5]:
print('Number of rows in dataset: {df.shape[0]}')
print(df[df.columns[0]].value_counts())

Number of rows in dataset: {df.shape[0]}
0    183
1    120
Name: invoice_risk_decision, dtype: int64

In [19]:
encoded_data = pd.get_dummies(df)
encoded_data.head()

,invoice_risk_decision,invoice_date_year,invoice_date_quarter,invoice_date_month,invoice_date_week,invoice_date_day_year,invoice_date_day_month,invoice_date_day_week,payment_due_date_year,payment_due_date_quarter,...,customer_46_customer,customer_47_customer,customer_48_customer,customer_49_customer,customer_4_customer,customer_50_customer,customer_6_customer,customer_7_customer,customer_8_customer,customer_9_customer
0,0,2017,4,11,46,318,14,2,2017.0,4.0,...,0,0,0,0,0,0,0,0,0,0
1,0,2017,4,11,46,318,14,2,2017.0,4.0,...,0,0,0,0,0,0,0,0,0,0
2,0,2017,4,12,49,338,4,1,2017.0,4.0,...,0,0,0,0,0,0,0,0,0,0
3,0,2017,4,12,49,338,4,1,2017.0,4.0,...,0,0,0,0,0,0,0,0,0,0
4,0,2017,4,12,49,340,6,3,2017.0,4.0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
corrs = encoded_data.corr()['invoice_risk_decision'].abs()
columns = corrs[corrs > .1].index
corrs = corrs.filter(columns)
corrs

invoice_risk_decision        1.000000
invoice_date_year            0.204019
invoice_date_quarter         0.237271
invoice_date_month           0.234815
invoice_date_week            0.233312
invoice_date_day_year        0.235755
invoice_date_day_week        0.142722
payment_due_date_year        0.177947
payment_due_date_quarter     0.184797
payment_due_date_month       0.202106
payment_due_date_week        0.211010
payment_due_date_day_year    0.209967
payment_due_date_day_week    0.119327
payment_date_year            0.247079
payment_date_month           0.105959
payment_date_week            0.109242
payment_date_day_year        0.110940
grand_total                  0.237612
customer_11_customer         0.229656
customer_21_customer         0.111826
customer_43_customer         0.106990
customer_50_customer         0.164441
Name: invoice_risk_decision, dtype: float64